/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 .sidebar {
   margin-top: 1em;
 }
 
 footer {
   background-color: rgb(27, 28, 29);
   color: rgba(116, 119, 123, .75);
   padding: 4em 0em;
   margin-top: 4em;
   position: relative;
 }
 
 footer ul {
   list-style-type: none;
 }
 
 .gutter {
   background-color: rgb(27, 28, 29);
   position: fixed;
   height: 100%;
   width: 100%;
   color: #fff;
 }

 .header-bg {
    background-color: #9B59B6;
 }

 .l-i-f {
   background: $body-bg;
   color: $body-color;
   padding: 0;
   margin: 20px 0;
   padding-top: 20px;
   cursor: default;
   div {
      word-break: break-word;
   }

   &:hover {
      color: $body-color;
      text-decoration: none;
   }

   &:nth-child(even) {
      background: #f9f9f9;

   }
   b{
      color:$brand-blue-title;
   }
   .media-body{
      margin-left:10px;
      h6{
         margin: 0;
      }
   }
   .media{
      margin:0;
      padding:0;
   }
   address {
       line-height: normal;
   }
}
a.l-i-f {
   &:hover {
      background: #f0f0f0;
      cursor: pointer;
   }
   &:nth-child(even) {
      &:hover {
         background: #f0f0f0;
      }
   }
}
div.l-i-f {
   &:hover {
      background:#fff;
      cursor: default;
   }
   &:nth-child(even) {
      &:hover {
         background:#fff;
      }
   }
}

.stripped-row-list:nth-child(even) { 
   .l-i-f {
      background: #f9f9f9;
   }
}

.style{
  font-size:14px;font-weight:bold;
}

.hidden-md-up {
  display: block;
}


